<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import {watchEffect, watch, ref, computed} from 'vue'
import {useWASDChat} from "./wasdChat.js";

const {socket} = useWASDChat('wasd channel name', 'get token from https://wasd.tv/general-settings/API')

socket.on("event", (data) => {
  console.log("event", data);
  let user = data.payload.user_login;

});

socket.on("subscribe", (data) => {
  console.log("subscribe", data);
  let user = data.user_login;
  let months = data.validity_months;

});

</script>

<template>
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo"/>
    </a>

    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo"/>
    </a>
  </div>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
